.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;

	.addmodal {
		position: relative;
		width: 35rem;
		height: 40rem;
		background-color: var(--color-6);
		padding: 0;
		padding-top: 2rem;
		z-index: 5;

		h2 {
			text-align: center;
			font-size: 2rem;
		}

		select {
			padding: 0.5rem 1rem;
			width: 60%;
		}
		.errors {
			font-size: 1.2rem;
			margin-top: 0.5rem;
			color: var(--red-1);
			display: flex;
			flex-direction: column;
			text-align: center;
		}
		form {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			input {
				background-color: var(--color-5);
				color: var(--color-0);
				padding: 0.5rem;
				border: none;
				outline: none;
				width: 60%;
				transition: all 0.2s ease-out;
				&:hover {
					width: 70%;
				}
			}
			label {
				display: block;
				border-radius: 50%;
				background: url(https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png);
				background-position: center;
				background-size: cover;
				width: 15rem;
				height: 15rem;
			}

			.button-group {
				bottom: 0;
				position: absolute;
				width: 100%;
				height: 25%;
				background-color: var(--color-6);
				margin-bottom: -0.5rem;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				margin-top: 2rem;
			}

			button {
				display: inline-block;
				width: 40%;
				padding: 0.8rem;
				background-color: var(--color-4);
				color: var(--color-0);

				border: none;
				cursor: pointer;
			}
		}

		.status-bar {
			font-size: 1.6rem;
			align-items: center;
		}
	}
}
