.sidepannel {
	flex-shrink: 0;
	width: 7rem;
	min-height: 100vh;
	background-color: var(--color-6);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;

	.underline {
		content: "";
		width: 60%;
		height: 2px;
		background-color: var(--color-3);
	}
}
