.userbar {
	position: absolute;
	bottom: 0;
	height: 5rem;
	width: 22rem;
	background-color: var(--color-4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-0);

	padding: 0.8rem;
	& > * {
		display: flex;
		align-items: center;
	}

	.photo {
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		background-position: center;
		background-size: cover;
		margin-right: 1rem;
	}

	.icon {
		width: 2rem;
		height: 2rem;
		background-position: center;
		background-size: cover;
		opacity: 0.7;
		margin: 0 0.5rem;
		@media (prefers-color-scheme: dark) {
			filter: invert(1);
		}
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}

	.mic-icon {
		background-image: url(../../../Assets/img/mic.png);
	}
	.headphone-icon {
		background-image: url(../../../Assets/img/headphones.png);
	}
	.settings-icon {
		background-image: url(../../../Assets/img/settings.svg);
	}

	.user-settings-bg {
		z-index: 5;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.4);
		display: flex;
		justify-content: center;
		align-items: center;

		.user-settings {
			padding: 5rem 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: var(--color-6);
			border-radius: 1rem;
			.file-prev {
				background-position: center;
				background-size: cover;
				width: 20rem;
				height: 20rem;
				border-radius: 50%;
				cursor: pointer;
				margin: 3rem 0;
			}
			.update-btn {
				padding: 0.5rem 0.8rem;
				background-color: var(--green-1);
				width: 10rem;
				text-align: center;
				cursor: pointer;
			}
		}
	}
}
