.userpannel {
	width: 22rem;
	flex-shrink: 0;
	height: 100vh;
	background-color: var(--color-5);
	color: var(--color-1);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	font-size: 1.6rem;
	h3 {
		font-size: 1.5rem;
		margin: 2rem auto 1rem 0;
	}
	.active {
		color: var(--color-0) !important;
		background-color: var(--color-4);
		span {
			opacity: 1 !important;
		}
	}

	.item,
	.user {
		margin: 0.5rem 0;
		padding: 1rem;
		width: 100%;
		display: flex;
		align-items: center;
		color: var(--color-1);
		cursor: pointer;

		&:hover,
		&:hover span {
			color: var(--color-0);
			opacity: 1;
		}

		span,
		.photo {
			display: inline-block;
			width: 2rem;
			height: 2rem;
			background-size: cover;
			background-position: center;
			margin-right: 1rem;
			opacity: 0.7;
		}
		.photo {
			border-radius: 50%;
			width: 3rem;
			height: 3rem;
		}
		.server-icon {
			background: url(../../../Assets/img/server.svg);
		}
		.activity-icon {
			background: url(../../../Assets/img/activity.svg);
		}
	}
}
