.channels {
	flex-shrink: 0;
	width: 22rem;
	height: 100vh;
	background-color: var(--color-5);
	font-size: 1.6rem;
	overflow-y: auto;

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #a7a3a365;
	}

	header {
		width: 100%;
		height: 5rem;
		font-size: 2rem;
		padding: 0.7rem 0;
		text-align: center;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		color: var(--color-1);

		cursor: pointer;
		&:hover {
			background-color: var(--color-6);
		}

		.arrow {
			display: inline-block;
			background: url(../../../Assets/img/arrow.svg);
			width: 2rem;
			height: 2rem;
			background-size: cover;
			background-position: center;
		}
	}
	.underline {
		width: 100%;
		height: 0.8px;
		background-color: var(--color-3);
		margin-bottom: 1rem;
	}
	.category {
		width: 90%;
		margin: 0 1rem 2rem 1rem;
		display: flex;
		flex-direction: column;
		color: var(--color-1);

		&:hover {
			span {
				display: inline-block;
			}
		}
		h3 {
			display: flex;
			justify-content: space-between;
			span {
				display: none;
				cursor: pointer;
				opacity: 0.7;
				margin-right: 1rem;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	.active {
		background-color: var(--color-4) !important;
	}
	.channel {
		// background-color: var(--color-4);
		width: 85%;
		margin: 0.3rem auto;
		padding: 0.8rem 0.5rem;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		color: var(--color-1);
		.hash {
			font-size: 2rem;
			margin-right: 0.8rem;
			// color: rgba(0, 0, 0, 0.4);
		}
		.delete {
			opacity: 0;
			margin-right: 1rem;
		}
		&:hover {
			background-color: var(--color-4);
			&:hover {
				.delete {
					opacity: 0.5;
				}
			}
		}
	}

	.dropdown {
		position: absolute;
		top: 4rem;
		background-color: var(--color-4);
		color: var(--color-1);

		width: 18rem;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		.item {
			padding: 1rem;
			cursor: pointer;
			background-color: var(--color-4);
			&:hover {
				background-color: var(--color-5);
			}
		}
		.invite {
			color: var(--blue-1);
		}
		.leave,
		.delete {
			color: var(--red-1);
		}
	}
	.userbar-wrapper {
		position: relative;
	}
}
