@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	src: url("./Assets/fonts/Whitney-LightSC.otf");
	font-family: "whitney";
}

html {
	font-size: 62%;

	--color-0: #353941;
	--color-1: #252525;
	--color-2: #b9bbbe;
	--color-3: #72767d;
	--color-4: #fff;
	--color-5: #ebebeb;
	--color-6: rgb(221, 221, 221);

	--blue-1: #3d5af1;
	--red-1: #ff304f;
	--green-1: #22eaaa;
	--green-2: #17b978;
}

@media screen and (prefers-color-scheme: dark) {
	html {
		--color-0: #fff;
		--color-1: #dcddde;
		--color-2: #b9bbbe;
		--color-3: #72767d;
		--color-4: #414449;
		--color-5: #36393f;
		--color-6: #23262b;

		--blue-1: #3d5af1;
		--red-1: #ff304f;
		--green-1: #22eaaa;
		--green-2: #17b978;
	}
}

body {
	margin: 0;
	font-family: "Nato sans", "roboto", sans-serif;
	color: rgb(105, 105, 105);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}

*::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #a7a3a365;
}

#root {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
}
